<section data-ng-controller="MantenimientosController" data-ng-init="toViewMantenimiento()">
	<div class="page-header">
		<h1 data-ng-bind="mantenimiento.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="mantenimiento" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == mantenimiento.user._id))">
			<a class="btn btn-success" href="/#!/mantenimientos/{{mantenimiento._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="mantenimiento">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/mantenimientos">
				<i class="glyphicon glyphicon-list"></i> List Mantenimientos
			</a>
		</div>

	</div>

</section>
