<section data-ng-controller="ProduccionsController as vm" data-ng-init="toEditProduccion()">
    <div class="page-header">
        <h1>Editar Produccion</h1>
    </div>
    <div class=" verproduccion-style">
        <form data-ng-submit="update()" novalidate>

          <formly-form model="produccion" fields="vm.produccionFields">
    			</formly-form>

          <hr/>
          
              <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-ok"></i> Guardar
              </button>
              <a class="btn btn-danger" href="/#!/produccions">
                <i class="glyphicon glyphicon-remove"></i> Cancelar
              </a>
         

          <div data-ng-show="error" class="alert alert-danger form-group">
            <strong data-ng-bind="error"></strong>
          </div>

        </form>
    </div>
</section>
