<br>
<br>

            <div>  
           <label class="myLabel">Seleccionar Bascula: </label>
           <select class="mySelect" ng-model="selectedItem" ng-change="vm.update()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>

<div style="padding: 10px 100px">
      <div style="width: 116px; height: 80px; position: relative; background: transparent  no-repeat top left">
        <div style="position: relative; left: -100px; top: 0px; width: 100px; height: 100px">
          <canvas id="display" width="300" height="80">
            
          </canvas>
</div>
        </div>
      </div><br>
      
      <div class="btn-group-lg">
         <button  class="btn btn-success" ng-click="setPeso()" ng-disabled="!basculaconfiguration.tipo">
                <i class="glyphicon fa fa-check-square-o"></i> Capturar peso
         </button>
        
      
             <a class="btn btn-warning" href="/#!/basculaconfigurations">
                <i class="glyphicon glyphicon-refresh"></i> Cancelar
           </a>
           <!-- <a class="btn btn-info" href="/#!/basculaconfigurations">
                <i class="glyphicon glyphicon-refresh"></i> selecc
           </a>-->

       
             
      </div>
         
  





<!--<h1 data-ng-bind="produccion.peso_produccion"></h1>-->

<div class="listproduccion-style col-md-12">
    <form novalidate class="form-horizontal" data-ng-submit="create()" data-ng-init="setFormFields(false)">
      <h1>Ingresar Configuracion </h1>
      <formly-form model="basculaconfiguration" fields="vm.basculaConfigurationFields" form="vm.basculaForm">
         
          <button type="submit" class="btn btn-success" ng-disabled="vm.basculaForm.$invalid"> <i class="glyphicon glyphicon-ok"></i>Guardar</button>

           <a class="btn btn-danger" href="/#!/basculaconfigurations">
                <i class="glyphicon glyphicon-remove"></i> Cancelar
           </a>

         
      </formly-form>
 </div>

     <hr/>
          <div data-ng-show="error" class="alert alert-danger form-group">
            <strong data-ng-bind="error"></strong>
          </div>
    </form>
</div>





<!--

<section data-ng-controller="ProduccionsController as vm" data-ng-init="setFormFields(false)">
    
<form novalidate  data-ng-submit="create()" data-ng-init="setFormFields(false)" prevent-enter-submit>
  <div style="padding: 10px 100px">
    <div style="width: 116px; height: 80px; position: relative; background: transparent  no-repeat top left">
        <div style="position: relative; left: -100px; top: 0px; width: 100px; height: 100px">
          <canvas id="display" width="300" height="80">
            
          </canvas>
        </div>
    </div>
  </div><br>
  <button  class="btn btn-success"  ng-click="setPeso()" ng-disabled="!produccion.tipo || produccion.tipo=='empaque'">
    <i class="glyphicon fa fa-check-square-o"></i> Capturar peso
  </button>
  <a class="btn btn-danger" href="/#!/basculaconfigurations">
    <i class="glyphicon glyphicon-remove"></i> Configurar
  </a>
  
  <div class="listproduccion-style col-md-12">
    <h1>Ingresar Produccion</h1>
    <formly-form model="produccion" fields="vm.productionFields" form="vm.productionForm">
      <button type="submit" class="btn btn-success" ng-disabled="vm.productionForm.$invalid"> <i class="glyphicon glyphicon-ok"></i>Guardar
      </button>
      <a class="btn btn-danger" href="/#!/produccions">
        <i class="glyphicon glyphicon-remove"></i> Cancelar
      </a>
    </formly-form>
  </div>
  <div data-ng-show="error" class="alert alert-danger form-group">
    <strong data-ng-bind="error"></strong>
  </div>
</form>

</section>


















-->














