
<section data-ng-controller="ProduccionstocksController as vm" data-ng-init="setFormFields(false)">
    
<form novalidate  data-ng-submit="create()" data-ng-init="setFormFields(false)" prevent-enter-submit>
  <div style="padding: 10px 100px">
    <div style="width: 116px; height: 80px; position: relative; background: transparent  no-repeat top left">
        <div style="position: relative; left: -100px; top: 0px; width: 100px; height: 100px">
          <canvas id="display" width="300" height="80">
            
          </canvas>
        </div>
    </div>
  </div><br>
  <button  class="btn btn-success"  ng-click="setPeso()" ng-disabled="!produccion.tipo || produccionstock.tipo=='empaque'">
    <i class="glyphicon fa fa-check-square-o"></i> Capturar peso
  </button>
  
  
  <div class="listproduccion-style col-md-12">
    <h1>Ingresar Produccion</h1>
    <formly-form model="produccionstock" fields="vm.productionstockFields" form="vm.productionForm">
      <button type="submit" class="btn btn-success" ng-disabled="vm.productionForm.$invalid"> <i class="glyphicon glyphicon-ok"></i>Guardar
      </button>
      <a class="btn btn-danger" href="/#!/produccions">
        <i class="glyphicon glyphicon-remove"></i> Cancelar
      </a>
    </formly-form>
  </div>
  <div data-ng-show="error" class="alert alert-danger form-group">
    <strong data-ng-bind="error"></strong>
  </div>
</form>

</section>